# This snippet is copied and modified from the GitLab Documentation
#   * Title of the documentation page: "Use Docker to build Docker images"
#   * Author: (c) 2011-present GitLab B.V.
#   * URL: https://docs.gitlab.com/ci/docker/using_docker_build/#buildah-example
#   * License: CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)
build-docker:
  image: quay.io/buildah/stable
  stage: deploy
  variables:
    STORAGE_DRIVER: vfs
    BUILDAH_FORMAT: docker
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | buildah login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - buildah build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
    - buildah push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  only:
    - main
# End of adapted snippet
